
body{
    font-family: 'Raleway', sans-serif;
    color: #484848;
    margin: 0;
    padding: 0;
    text-align: center;
}


header{


}
.slider{
    overflow: hidden;
    height: 550px;
    width: 100%;
    background: url("../img/thumb-1920-382681.jpg") no-repeat center;
    background-size: cover;
}
.slider__gradient{
    background-color: rgb(5, 5, 5);
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 550px;

}
.slider__title{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 100;

}
.slider__logo{
    float: left;
}

.slider__menu{
    float: right;
    margin-left: 40px;
}

.menu__list{
    display: inline-flex;
    list-style-type: none;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0;
}
.menu__item{
    font-size: 1.03vw;
    margin: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu__link{
    text-decoration: none;
    color: white;

}
.menu__link:hover {
    color:orange;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.slider__mainTitle{
    margin-top: 100px;
    font-size: 4vw;
    color: white;
    position: relative;
    z-index: 100;
}

.main{
    display: grid;
    width: 100%;
    justify-content: center;

}
.main__title{
    text-transform: uppercase;
    font-size: 2vw;
    color: black;
    text-align: left;

}
.goods{
    display: grid;
    width: 350px;
}

.goods__img{
    justify-items: start;
    position: absolute;
}
.goods__title{
    position: relative;
    justify-self: end;
    width: 160px;
}
.goods__title2{
   margin-top: 300px;
   padding: 15px;
}

.goods__main{
    text-transform: uppercase;
    font-size: 2vw;
    color: black;
    text-align: left;
}
.goods__bold{
    font-size: 1vw;
    color: black;
    font-weight: bold;
    text-align: left;
    word-spacing: 25px;
    line-height: 1.6;
}
.goods__component{
    font-size: 1vw;
    text-align: left;
    line-height: 1.6;
}
.goods__buttons{

    display: grid;
    grid-template-columns: 40% 30% 20%;
}
.goods__bold_price{
    font-size: 1vw;
    color: black;
    font-weight: bold;
    text-align: left;
    justify-self: end;
}
.goods__buttons_detailed{
    background-color: #ffffff;
    color: #834700;
    border: 1px solid #834700;
    margin: 5px;
    text-transform: uppercase;
}
.goods__buttons_buy{
    background-color: #834700;
    color: #ffffff;
    border: none;
    margin: 5px;
    text-transform: uppercase;
}
.goods_{
    display: grid;
    grid-template-columns: 60% 60%;
    justify-items: center;

}
.goods__buttons_detailed:hover {
    color:orange;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.goods__buttons_buy:hover {
    color:orange;
    transition-duration: 1s;
    transition-timing-function: ease;
}